<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="server=NAMSOFT\STAGING;Integrated Security=True;database=SaiVision;Application Name=CECity.Enterprise.CodeGeneration.Console"/>
		<add key="EnableConnectionStringEncryption" value="False"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
