<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="STAGING" />
  <connectionStrings>
    <!--add name="STAGING" connectionString="data source=NAMSOFT\STAGING;Integrated Security=true;AttachDBFilename=C:\Program Files\Microsoft SQL Server\MSSQL10_50.STAGING\MSSQL\Data\SaiVision.mdf;"
        providerName="System.Data.SqlClient" /-->
    <add name="STAGING" connectionString="server=NAMSOFT\STAGING;Integrated Security=True;database=SaiVision;Application Name=SaiVision.Web;Max Pool Size=125; Min Pool Size=10;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
